@inherits RazorSliceHttpResult
<html>
<head>
    <title>Test project</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
</head>
<body>
    <main class="center w-100-ns w-70-m w-40-l pt2">
        <h1 class="mt0">Heading!</h1>
        <p>Some content.</p>
    </main>
</body>
</html>